@font-face {
  font-family: 'Sublem';
  src: url(/fonts/Sublem.ttf) format('truetype');
  font-weight: normal;
}

:root {
  --primary-color: white;
  --secondary-color: #d0e8ff;
  --active-color: #d0e8ff;
  --hover-color: #b2c7db;

  --navbar-font: 'Sublem';
  --content-font: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: transparent;
  background-color: var(--primary-color);
}

.topnav {
  font-family: var(--navbar-font);
  overflow: hidden;
  margin-bottom: 20px;
  color: black;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.topnav a:hover {
  background-color: var(--active-color);
}

.topnav a.active {
  background-color: var(--active-color);
}

.content-container {
  background-color: var(--secondary-color);
  padding: 35px;
  width: 50%;
  margin: auto;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .content-container {
    width: 75%;
  }
}
