@font-face {
  font-family: "Sublem";
  src: url(/fonts/Sublem.ttf) format("truetype");
  font-weight: normal;
}

:root {
  --primary-color: white;
  --secondary-color: #d0e8ff;
  --active-color: #d0e8ff;
  --hover-color: #b2c7db;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--primary-color);
}

.topnav {
  font-family: "Sublem", Helvetica, sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
  color: black;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
}

.topnav a:hover {
  background-color: var(--active-color);
}

.topnav a.active {
  background-color: var(--active-color);
}

.content-container {
  background-color: var(--secondary-color);
  padding: 35px;
  width: 50%;
  margin: auto;
}

.content-container h1,
h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .content-container {
    width: 75%;
  }
}
